<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace:命名空间，与id属性共同构成唯一标识，使用namespace.id即可定位 -->
<mapper namespace="userMapper">
    <!-- resultType:返回结果类型（自动映射封装），需要封装的实体的全路径 -->
    <select id="findAll" resultType="user">
        select * from user
    </select>

    <!-- 新增用户 -->
    <!-- parameterType指定接收到的参数类型 -->
    <insert id="saveUser" parameterType="user">
        <!-- mybatis中的占位符是#{}，等同于JDBC中的?
            {}用于指定对象的属性，由于通过get方法获取，填写内容与get方法关联，如：要使用getUsername方法则需填写username
         -->
        insert into user(username,birthday,sex,address) values(#{username},#{birthday},#{sex},#{address})
    </insert>

    <!-- 更新用户 -->
    <update id="updateUser" parameterType="user">
        update user set username = #{username},birthday = #{birthday},sex = #{sex},address = #{address} where id = #{id}
    </update>
    
    <!-- 删除用户 -->
    <delete id="deleteUser" parameterType="int">
        delete from user where id = #{id}
    </delete>
    
</mapper>